{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{ licensor.name }} Catalog</h1>

  <table>
    <tr>
      <th>SKU</th>
      <th>Title</th>
      <th>Work</th>
    </tr>

    {% for product in products %}
      <tr>
        <td>{{ product.sku }}</td>
        <td>{{ product.title }}</td>
        <td>
          {% if product.work %}
            {{ product.work.id }}
            &mdash; {{ product.work.title }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
