<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Hentai Horse{% endblock %}</title>

        <link rel="icon" href="/images/horse_logo.svg" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="row">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="#">
            Hentai Horse
          </a>
        </nav>
      </header>

      <main>
        {# flash messages #}
        {% macro flash(message_bag, class_type) %}
          {% for flash_message in message_bag %}
              <div class="alert-{{ class_type }} alert alert-dismissible no-print" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                {{ flash_message|raw }}
              </div>
          {% endfor %}
        {% endmacro %}
        {% import _self as msg %}
        {{ msg.flash(app.session.flashBag.get('error'), 'danger') }}
        {{ msg.flash(app.session.flashBag.get('warning'), 'warning') }}
        {{ msg.flash(app.session.flashBag.get('alert'), 'info') }}
        {{ msg.flash(app.session.flashBag.get('notice'), 'info') }}
        {{ msg.flash(app.session.flashBag.get('success'), 'success') }}
        {# end flash messages #}


        {% block body %}{% endblock %}
      </main>

      <footer class="row">
        <small>
          <span class="mx-1">&copy; 2018 Sam Hanes.</span>
          <span class="mx-1">
            Licensed under the
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">
              GNU Affero GPL v3+</a>.
          </span>
          <span class="mx-1">
            <a href="https://github.com/Elemecca/anipony">
              <img src="{{ asset('images/github.svg') }}" alt=""
                   width="16" height="16" class="align-top" />
              Get the code.
            </a>
          </span>
        </small>
      </footer>
    </div>
    {% block javascripts %}
      <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
